<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CAAF9EE1E0BB6F8007B054C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CAAFA071E0BB6F8007B054C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CAAFA121E0BB6F8007B054C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
